<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="steamApiKey" value="EBBFE1A1AA5EA1A9FCEE0158DC859F77" />
	<add key="connectionString" value="datasource=127.0.0.1;port=3306;username=root;password=;SslMode = none;database=integracja_steam_projekt;" />
  </appSettings>
</configuration>